@import './colors';

.title {
  text-align: center;
  color: $sub2;
}
.textareaBox {
  width: 75%;
  margin: 1.5rem auto 0;
  text-align: center;
}

.count {
  font-size: 1.15rem;
  font-weight: 700;
  background-color: $main;
  color: $sub3;
  border-radius: 5px 5px 0 0;

  .number {
    margin: 0 0.1875rem;
    font-size: 1.4rem;
    color: #ffd100;
  }
}

.textarea {
  width: 100%;
  min-height: 300px;
  padding: 0.625rem 0.9375rem;
  outline: none;
  resize: vertical;
  border-radius: 0 0 5px 5px;
  border-color: $main;
}
