@import './colors';

.title {
  text-align: center;
  color: $sub2;
}
.textareaBox {
  margin: 1.5rem auto 0;
  text-align: center;
  width: 75%;
}

.count {
  background-color: $main;
  border-radius: 5px 5px 0 0;
  color: $sub3;
  font-weight: 700;
  font-size: 1.15rem;

  .number {
    color: #ffd100;
    font-size: 1.4rem;
    margin: 0 0.1875rem;
  }
}

.textarea {
  resize: vertical;
  padding: 0.625rem 0.9375rem;
  outline: none;
  border-color: $main;
  border-radius: 0 0 5px 5px;
  min-height: 300px;
  width: 100%;
}

.countList {
  margin-top: 40px;
  color: $sub2;
}

.listTitle {
  font-size: 1.125rem;
  font-weight: 700;
}

.list {
  list-style: none;

  li {
    &:not(:first-child) {
      margin-top: 0.3rem;
    }
  }
}

.item {
  color: $main;
  font-weight: 700;
}
